*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #A1A1AA;

    background-color: #121214;
    background-image: url(/assets/background.jpg);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;

}

img {
    display: block;
}

h2 {
    margin: 0;
    font-weight: 900;
    color: #fff;
}

p {
    margin: .5em 0 1.5em;
}

main {
    width: 90%;
    max-width: 580px;
    margin: 0 auto;
}

section img {
    cursor: pointer;
    transition: transform 250ms;
}

section img:focus, 
section img:hover {
    transform: scale(1.06);
}

.main-img {
    margin: 40px auto;
    max-width: 120px;

    padding: 4px;
    border-radius: 100px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);


}

.card {
    position: relative;
    padding: 2em;
    margin-bottom: 1.5em;
    background-color: #2A2634;
    border-radius: 8px;
    
}

.card::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 98%;
    top: -5px;
    left: 49%;
    margin-left: -48%;
    z-index: -1;
    border-radius: 11px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}

.card img {
    width: 90px;
    border-radius: 8px;
}

.channels img {
    width: 70px;
    border-radius: 100%;
}

ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

li {
    list-style: none;
}